.wrapper{
    width: 100vw;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background{
    width: 700px;
    height: 900px;
    background-color: #B56B45;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
}

.form-recept{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.receptenNaam{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

.receptenDuur{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

.nieuwIngredient{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
}

.instructies{
    width: 500px;
    height: 420px;
    border-radius: 20px;
    text-align: center;
    border: none;
}

.knop{
    width: 150px;
    height: 50px;
    margin-top: 20px;
    background-color: #c4ba49;
    border: none;
    border-radius: 5px;
    box-shadow: 10px 10px 10px black;
}

.hide-file{
    display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  background-color: #c4ba49;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.file-upload-wrapper{
    margin: 10px;
}