body {
    margin: 0px;
    padding: 0px;
}

.wrapper-navbar {
    width: 100vw;
    background-color: gray;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 75px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

a

.text-left,
.text-right {
    display: flex;
    gap: 20px;
}

.wrapper-image {
    width: 100vw;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-img {
    width: 1440px;
    height: 700px;
}

.wrapper-animation {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-animation {
    width: 1500px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border: 3px solid pink;
}

.images {
    width: 250px;
    height: 150px;
    margin: 10px;
    box-shadow: 10px 10px 20px black;
}