.wrapper-image {
    width: 100vw;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-img {
    width: 1440px;
    height: 600px;
}

.wrapper-animation {
    width: 100vw;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-animation {
    width: 1630px;
    height: 250px;
    display: flex;
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}


.scroll-track {
    display: flex;
    animation: scrollAnimation 15s linear infinite;
}

@keyframes scrollAnimation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-1620px);
    }
}

.images {
    width: 250px;
    height: 150px;
    margin: 10px;
    box-shadow: 10px 10px 20px black;
}

.images:hover {
    cursor: pointer;
}