.wrapper-image {
    width: 100vw;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-img {
    width: 1440px;
    height: 600px;
}

.wrapper-animation {
    width: 100vw;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-animation {
    width: 1630px;
    height: 250px;
    display: flex;
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}


.scroll-track {
    display: flex;
    animation: scrollAnimation 15s linear infinite;
}

@keyframes scrollAnimation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-1620px);
    }
}

.images {
    width: 250px;
    height: 150px;
    margin: 10px;
    box-shadow: 10px 10px 20px black;
}

.wrapper-recepten{
    width: auto;
    height: auto;
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

a.recepten-link{
    width: auto;
    height: auto;
    color: black;
    font-size: 20px;
}

.recepten{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 20px;
    margin: 30px;
}

.img{
    width: 500px;
    height: 350px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}